::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc9c9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 185, 185);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 131, 131);
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #d8d7d7;
  color: rgb(44, 43, 43);
}

.row {
  margin: 0px !important;
}

label {
  font-size: calc(7px + 1.5vmin);
}
