@import '~bootstrap/dist/css/bootstrap.min.css';

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc9c9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 185, 185);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 131, 131);
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.row {
  margin: 0px !important;
}
