@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-orange, 200);
$accent: mat-palette($mat-orange, 200);
$light-theme: mat-light-theme($primary, $accent);
$dark-theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($light-theme);
@include angular-material-theme($dark-theme);

body {
  background-color: rgb(139, 37, 37);
}

.dark-theme {
  body {
    background-color: rgb(20, 20, 20);
  }
}
